.cards__list {
  margin: 34px auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 36px;
}

.list {
  &__loader {
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba($color: #fff, $alpha: 0.9);
    & span {
      top: 40%;
    }
  }
}
